<div class="team-section pt-20">
    <div class="container">
        <div class="row mt-30">
            <div class="col-md-8 offset-md-2 text-center">
                <div class="section-title v1">
                    <p>Ready to serve you the best</p>
                    <h2>Meet our Agents</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="team-wrapper swiper-container">
                    <div class="swiper-wrapper">
                        <% agents.forEach(agent => {%>
                            <div class="swiper-slide">
                                <div class="single-team-member v2">
                                    <a href="/agents/single/1"><img src="/images/agents/agent_1.jpg" alt="Image"></a>
                                    <div class="single-team-info">
                                        <h4><a href="/agents/single/1"><%= formatAgentName(agent) %></a></h4>
                                        <span>Real Estate Agent</span>
                                        <div class="contact-info">
                                            <% if (agent.phoneNumber) {%>
                                                <div class="icon">
                                                    <i class="fas fa-phone-alt"></i>
                                                </div>
                                                <div class="text"><a href="tel:<%= agent.phoneNumber %>"><%= agent.phoneNumber %></a></div>
                                            <%} else {%>
                                                <div class="icon">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                                <div class="text"><a href="mailto:<%= agent.email %>"><%= agent.email %></a></div>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%})%>
                    </div>
                    <div class="slider-btn v2 team_next"><i class="lnr lnr-arrow-right"></i></div>
                    <div class="slider-btn v2 team_prev"><i class="lnr lnr-arrow-left"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
